body{
	background-color:rgb(250,227,254);
}
ul {
    
    padding: 0;
    list-style-type: none;
    display: table;
    overflow: hidden;
    background-color: rgb(64,46,68);
    position: fixed;
   top:0%;
   left:0%;
    nth-child(even);
    width: 20%;
    height:100%;
    text-align:center;
    margin: 0px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: table-cell;
    text-align:center !important;
    
    height:100%;
    width:100%;
}





.widthforli{

	display: flex;
    flex-direction: row;
    align-items: center !important;
    vertical-align:middle !important;
    text-align:center !important;
}

li a{
	padding-top:20px !important;
    text-align:center !important;
    width:100% !important;
    font-size:12px !important;
   margin:0px !important;
  margin-bottom:-30px !important;
      background-color: rgb(64,46,68);
    font-family: Arial;
  font-size: 17px !important;
  color:white;
  font-weight:bold;
  height:65px !important;
  margin-left:16% !important;
  text-decoration:none !important;
    
}

#active{
 background-color: rgb(199,144,185);
}
.notimg{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
}
li img.hoverr{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
	opacity:0;
}
li:hover img{
	opacity:0;
}
li:hover img.hoverr{
	opacity:1;
}

 li a:hover, li:hover{
	 background-color: rgb(250,250,250) !important;
	 color:#333 !important;
}
.cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#hovver{
	position:fixed;
	height:100% !important;
	width:4% !important;
	left:0% !important;
	top:0% !important;
}

table{
	text-align:center;
	font-size:15px;
	background-color:rgba(255,255,255,0.9);
	border:2px solid #333 !important;
	margin-bottom:0px !important;
	
	margin-top:0 !important;
	margin-right:100px !important;
	margin-left:15px !important;

}
td{
	padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom:8px;
    border-left:2px solid #333 !important;
    border-right:2px solid #333 !important;
    background-color:rgb(255,255,255);
    font-family:calibri;
}
.td4Ellipsis{
	position:relative;
}
.td4Ellipsis:before{
	content: '&nbsp;';
	visibility: hidden;
}
.td4Ellipsis span{
	position:absolute;
	left:10px;
	right:10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
tr{
	padding:10px;
	height:18px !important;
	border:2px solid #333 !important;
	
}
th{
	background-color: #fff;
	color:#333;
	padding:8px;
	font-weight:bold;
	font-size:16px;
	font-family:monospace;
	border:2px solid #333 !important;
	height:20px;
	opacity:100% !important;
	position:sticky;
	top:0% !important;
	left:0% !important;
	visibility: visible;
	z-index:999;
	box-shadow: 0 1px 0 0.5px;
}
#SearchInput{
	margin: 7px !important;
	margin-left:15px !important;
	height:55%;
	width:82%;
	font-size:13px; 
	font-family:monospace;
}
#SearchButton{
	margin: 7px !important;
	height:5% !important;
	width:4%;
	background-color:#333;
	position:absolute;

}

/* width */
::-webkit-scrollbar {
  width: 1em;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color:white;
}
/*thumb*/ 
::-webkit-scrollbar-thumb {
  background-color: rgb(199,144,185);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin:2px;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


#rightPart{
	position:absolute;
	top:1%;
	right:0.5% !important;
	width: 79%;
}

/* div that combines search bar and button*/
#searchPlus {
	background-color:#333;
	width:45%;
	height:7.5% !important;
	margin-left:6px !important;
	
}


#btns1:hover{
	background-color: rgb(234,156,158); /*red*/
}
#btns2:hover{
	background-color: rgb(199,144,195 ); /*purple*/
}
/*Edit Button*/




