body{
	background-color:rgb(250,227,254);
}
ul {
    
    padding: 0;
    list-style-type: none;
    display: table;
    overflow: hidden;
    background-color: rgb(64,46,68);
    position: fixed;
   top:0%;
   left:0%;
    nth-child(even);
    width: 20%;
    height:100%;
    text-align:center;
    margin: 0px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: table-cell;
    text-align:center !important;
    
    height:100%;
    width:100%;
}





.widthforli{

	display: flex;
    flex-direction: row;
    align-items: center !important;
    vertical-align:middle !important;
    text-align:center !important;
}

li a{
	padding-top:20px !important;
    text-align:center !important;
    width:100% !important;
    font-size:12px !important;
   margin:0px !important;
  margin-bottom:-30px !important;
      background-color: rgb(64,46,68);
    font-family: Arial;
  font-size: 17px !important;
  color:white;
  font-weight:bold;
  height:65px !important;
  margin-left:16% !important;
    
}

#active{
 background-color: rgb(199,144,185);
}
.notimg{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
}
li img.hoverr{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
	opacity:0;
}
li:hover img{
	opacity:0;
}
li:hover img.hoverr{
	opacity:1;
}

 li a:hover, li:hover{
	 background-color: rgb(250,250,250) !important;
	 color:#333 !important;
}
.cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#hovver{
	position:fixed;
	height:100% !important;
	width:4% !important;
	left:0% !important;
	top:0% !important;
}
