
/* width */
div .LowPartBorder::-webkit-scrollbar {
  width: 1em;
    border-radius: 10px;
    width:10px;
}

/* Track */
div .LowPartBorder::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color:white;
}
/*thumb*/ 
div .LowPartBorder::-webkit-scrollbar-thumb {
  background-color: rgb(199,144,185);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin:2px;
  border-radius: 20px;
}

/* Handle on hover */
div .LowPartBorder ::-webkit-scrollbar-thumb:hover {
  background: #999;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


body{
	background-color:rgb(250,227,254);
}
ul {
    
    padding: 0;
    list-style-type: none;
    display: table;
    overflow: hidden;
    background-color: rgb(64,46,68);
    position: fixed;
   top:0%;
   left:0%;
    nth-child(even);
    width: 20%;
    height:100%;
    text-align:center;
    margin: 0px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: table-cell;
    text-align:center !important;
    
    height:100%;
    width:100%;
}
td{
	padding-right: 10px;
    padding-left: 10px;
    padding-top:2px;
    padding-bottom:2px;
    text-align:center;
    border-collapse:	;
   	color:white;
    font-family:sans-serif;
    
    font-size:14px;
    word-spacing:1px;
}
th{
	font-size:16px;
	font-weight:900;
	
}

.td4Ellipsis{
	position:relative;
}
.td4Ellipsis:before{
	content: '&nbsp;';
	visibility: hidden;
}
.td4Ellipsis span{
	position:absolute;
	left:10px;
	right:10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;

}
.rightTop{
	position:absolute;top:1%;left:0.7%;
	width:98.5%;
	background-color:rgb(199,144,182);
	height:65%;
}
.LowPartBorder{
	height:70%;
	position:absolute;
	width:96%;
	left:1.75%;
	top:22%;	border:3px solid white;
	overflow:scroll;
	overflow-x:hidden;
}
.resultLowPart{
	position:absolute;
	bottom:1%; 
	width:65%;
	overflow:hidden;
	height:30%;
	background-color:rgb(141, 86, 152);
	left:21%;
	font-family:monospace;
	color:white;
}
.header-title{
	font-size:19px;
	font-weight:100;
	font-family:monospace;
	color:white;
	padding:0%;
	padding-top:7px;
	padding-left:15px;
	margin:0%;

}
.rightPart{
	position:absolute;
	top:1%;
	right:0.5% !important;
	width: 79%;
}

.buttonBottom{
	position:fixed;
	bottom:1.3%;
	right:1%;
	width:12.2%;
	height:29.8%;
}
/*Button*/
#cancelButton{
	position:absolute; top:0%; right:0% ;
	width:99.95%; height:47.5%;
	background-color:rgb(236,107,118);
	color:white;
	border:none;
	font-size:16px;
	font-weight:bold;
	font-family:Arial;
}
#cancelButton:hover{
	background-color:rgb(246,107,118);
}
#confirmButton{
	position:absolute; bottom:0%; left:0% ;
	width:99.95%; height:47.5%; 
	background-color:rgb(157,213,168);
	color:white; 
	border:none;
	font-size:16px;
	font-weight:bold;
	font-family:Arial;
}
#confirmButton:hover{
	background-color:rgb(157,223,168);
}

#redButton{
	position:absolute; bottom:10%; left:13% ;
	width:30%; height:16%;
	background-color:rgb(226,107,118);
	color:white;
	border:none;
	font-size:13px;
	font-weight:bold;
	font-family:Arial;
	border:1px solid black;
	 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#redButton:hover{
	background-color:rgb(256,107,118);
}
#greenButton{
	position:absolute; bottom:10%; right:13% ;
	width:30%; height:16%;
	background-color:rgb(157,223,148);
	color:white;
	border:none;
	font-size:13px;
	font-weight:bold;
	font-family:Arial;
	border:1px solid black;
	 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#greenButton:hover{
	background-color:rgb(157,253,148);
}


/*Middle Buttons*/
.buttonMid{
	position:absolute;
	right:1%;
	height:35%;
	width:30%;
	top:22%;

}
.buttonMid input{
	background-color:white;
	color: rgb(64, 46, 69);
	border:2px solid black;
	font-size:14px;
	font-weight:bold;
	font-family:monospace;
	width:95.5%; 
	padding:5px;
	height:80% !important;
}
.buttonMid button{
	background-color:rgb(64, 46, 69);
	color:white; 
	border:none;
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
	width:100%; 
	padding:5px;
	height:100% !important;
}

#bottomMidTop{
	position:absolute;
	top:0%;
	

}
#bottomMidBottom{
	position:absolute;
	bottom:0%;
	
}
.inputTop{
	position:absolute;
	top:22%;
	left:1%;
	width:65%;
	height:35%;
}

.inputTopUp input{
background-color:white;
	color: rgb(64, 46, 69);
	border:2px solid black;
	font-size:14px;
	font-weight:bold;
	font-family:monospace;
	
	padding:5px;
	width:100%;
	height:20% !important;position:absolute;top:0%;
}
.inputTopDown input{
	background-color:white;
	color: rgb(64, 46, 69);
	border:2px solid black;
	font-size:14px;
	font-weight:bold;
	font-family:monospace;
	padding:5px;
	width:100%;
	height:50% !important;position:absolute;bottom:0%;
}


.widthforli{

	display: flex;
    flex-direction: row;
    align-items: center !important;
    vertical-align:middle !important;
    text-align:center !important;
}

li a{
	padding-top:20px !important;
    text-align:center !important;
    width:100% !important;
    font-size:12px !important;
   margin:0px !important;
  margin-bottom:-30px !important;
      background-color: rgb(64,46,68);
    font-family: Arial;
  font-size: 17px !important;
  color:white;
  font-weight:bold;
  height:65px !important;
  margin-left:16% !important;
  text-decoration:none !important;
    
}

#active{
 background-color: rgb(199,144,185);
}
.notimg{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
}
li img.hoverr{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
	opacity:0;
}
li:hover img{
	opacity:0;
}
li:hover img.hoverr{
	opacity:1;
}

 li a:hover, li:hover{
	 background-color: rgb(250,250,250) !important;
	 color:#333 !important;
}
.cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#hovver{
	position:fixed;
	height:100% !important;
	width:4% !important;
	left:0% !important;
	top:0% !important;
}

div#hover1{
	opacity:1;
}
div#hover11{
	opacity:0;
}

div#hover1:hover{
	opacity:0;
}
div#hover11:hover{
	opacity:1;
}



