body{
	background-color:rgb(250,227,254);
}
ul {
    
    padding: 0;
    list-style-type: none;
    display: table;
    overflow: hidden;
    background-color: rgb(64,46,68);
    position: fixed;
   top:0%;
   left:0%;
    nth-child(even);
    width: 20%;
    height:100%;
    text-align:center;
    margin: 0px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: table-cell;
    text-align:center !important;
    
    height:100%;
    width:100%;
}





.widthforli{

	display: flex;
    flex-direction: row;
    align-items: center !important;
    vertical-align:middle !important;
    text-align:center !important;
}

li a{
	padding-top:20px !important;
    text-align:center !important;
    width:100% !important;
    font-size:12px !important;
   margin:0px !important;
  margin-bottom:-30px !important;
      background-color: rgb(64,46,68);
    font-family: Arial;
  font-size: 17px !important;
  color:white;
  font-weight:bold;
  height:65px !important;
  margin-left:16% !important;
  text-decoration:none !important;
    
}

#active{
 background-color: rgb(199,144,185);
}
.notimg{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
}
li img.hoverr{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
	opacity:0;
}
li:hover img{
	opacity:0;
}
li:hover img.hoverr{
	opacity:1;
}

 li a:hover, li:hover{
	 background-color: rgb(250,250,250) !important;
	 color:#333 !important;
}
.cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#hovver{
	position:fixed;
	height:100% !important;
	width:4% !important;
	left:0% !important;
	top:0% !important;
}

table{
	text-align:center;
	font-size:13px;
	background-color:rgba(255,255,255,0.9);
	border:2px solid #333;
	margin:15px;
	width:97% !important;
	margin-top:0 !important;
	margin-right:100px !important;
	margin-left:15px !important;

}
.noBorderCheckOutTbl th,.noBorderCheckOutTbl td,.noBorderCheckOutTbl tr,.noBorderCheckOutTbl thead{
	border:none !important;
}
.noBorderCheckOutTbl th{
	border-bottom: 1px solid black !important;
}
.bottomCheckOutTbl td{
	border-top: 1px solid black !important;
}
.noBorderCheckOutTbl th{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
.noBorderCheckOutTbl td{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

td{
	padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom:8px;
    border-left:2px solid #333;
    border-right:2px solid #333;
    border-collapse:	;
    background-color:rgba(255,255,255,0.8);
    font-family:calibri;
}
.td4Ellipsis{
	position:relative;
}
.td4Ellipsis:before{
	content: '&nbsp;';
	visibility: hidden;
}
.td4Ellipsis span{
	position:absolute;
	left:10px;
	right:10px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.td4Ellipsises{
	position:relative;border:none !important; padding-top:5px; padding-bottom:5px;
}
.td4Ellipsises:before{
	content: '&nbsp;';
	visibility: hidden;border:none !important; padding-top:5px; padding-bottom:5px;
}
.td4Ellipsises span{
	position:absolute;
	left:5px;
	right:5px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;border:none !important; padding-top:5px; padding-bottom:5px;
}
tr{
	padding:10px;
	height:18px !important;
	
}
th{
	background-color: #fff;
	color:#333;
	padding:8px;
	font-weight:bold;
	font-size:12px;
	font-family:monospace;
	border:2px solid #333;
	height:20px;
	opacity:100% !important;
	position:sticky;
	top:0% !important;
	left:0% !important;
	visibility: visible;
	z-index:999;
}
#SearchInput{
	margin: 7px !important;
	margin-left:15px !important;
	height:25px;
	width:400px;
	font-size:13px; 
	font-family:monospace
}
#SearchButton{
	margin: 7px !important;
	height:30px !important;
	background-color:#333;
	position:absolute;

}

/* width */
::-webkit-scrollbar {
  width: 1em;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color:white;
}
/*thumb*/ 
::-webkit-scrollbar-thumb {
  background-color: rgb(199,144,185);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin:2px;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


div #tableCart::-webkit-scrollbar {
  width: 5px !important;
    border-radius: 10px;
}

/* Track */
div #tableCart::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color:white;
}
div #tableCart/*thumb*/ 
::-webkit-scrollbar-thumb {
  background-color: rgb(199,144,185);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin:2px;
  border-radius: 20px;
}

/* Handle on hover */
div #tableCart::-webkit-scrollbar-thumb:hover {
  background: #999;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


#rightPart{
	position:absolute;
	top:1%;
	right:0.5% !important;
	width: 79%;
}

/* div that combines search bar and button*/
.search-box{
	background-color:#333;
	width:115px;
	height:45px !important;

	margin-left:6px !important;
	
}
/*Button*/
#cancelButton{
	position:absolute; bottom:0%; left:0% ;
	width:49.95%; height:100%;
	background-color:rgb(236,107,118);
	color:white;
	border:none;
	font-size:16px;
	font-weight:bold;
	font-family:Arial;
}
#cancelButton:hover{
	background-color:rgb(246,107,118);
}
#confirmButton{
	position:absolute; bottom:0%; right:0% ;
	width:49.95%; height:100%; 
	background-color:rgb(157,213,168);
	color:white; 
	border:none;
	font-size:16px;
	font-weight:bold;
	font-family:Arial;
}
#confirmButton:hover{
	background-color:rgb(157,223,168);
}

#redButton{
	position:absolute; bottom:10%; left:13% ;
	width:30%; height:16%;
	background-color:rgb(226,107,118);
	color:white;
	border:none;
	font-size:13px;
	font-weight:bold;
	font-family:Arial;
	border:1px solid black;
	 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#redButton:hover{
	background-color:rgb(256,107,118);
}
#greenButton{
	position:absolute; bottom:10%; right:13% ;
	width:30%; height:16%;
	background-color:rgb(157,223,148);
	color:white;
	border:none;
	font-size:13px;
	font-weight:bold;
	font-family:Arial;
	border:1px solid black;
	 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#greenButton:hover{
	background-color:rgb(157,253,148);
}




