body
        {
        
     font-family: Bookman Old Style;
     background-repeat: no-repeat;
     
     background-size: cover;
     background-attachment: fixed;
   
     position: fixed;
  
        }

        body{
	background-color:rgb(250,227,254);
}
ul {
    
    padding: 0;
    list-style-type: none;
    display: table;
    overflow: hidden;
    background-color: rgb(64,46,68);
    position: fixed;
   top:0%;
   left:0%;
    nth-child(even);
    width: 20%;
    height:100%;
    text-align:center;
    margin: 0px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: table-cell;
    text-align:center !important;
    
    height:100%;
    width:100%;
}





.widthforli{

	display: flex;
    flex-direction: row;
    align-items: center !important;
    vertical-align:middle !important;
    text-align:center !important;
}

li a{
	padding-top:20px !important;
    text-align:center !important;
    width:100% !important;
    font-size:12px !important;
   margin:0px !important;
  margin-bottom:-30px !important;
      background-color: rgb(64,46,68);
    font-family: Arial;
  font-size: 17px !important;
  color:white;
  font-weight:bold;
  height:65px !important;
  margin-left:16% !important;
  text-decoration:none !important;
    
}

#active{
 background-color: rgb(199,144,185);
}
.notimg{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
}
li img.hoverr{
	width:45px !important;
	height:45px !important;
	margin:0% !important;
	position:absolute;
	left:3% !important;
	margin-top:-15px !important;
	opacity:0;
}
li:hover img{
	opacity:0;
}
li:hover img.hoverr{
	opacity:1;
}

 li a:hover, li:hover{
	 background-color: rgb(250,250,250) !important;
	 color:#333 !important;
}
.cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#cancelledd:hover{
	background-color: rgb(64,46,68) !important;
	color:rgb(64,46,68) !important;
}
#hovver{
	position:fixed;
	height:100% !important;
	width:4% !important;
	left:0% !important;
	top:0% !important;
}

div#hover1{
	opacity:1;
}
div#hover11{
	opacity:0;
}

div#hover1:hover{
	opacity:0;
}
div#hover11:hover{
	opacity:1;
}





         .content {
          
            width: 1000px;
            height:500px;
            background-color: white;
            margin-left: 150px;
          
            margin-bottom: 10px;
            opacity: 0.9;
            position: absolute;



             }
             .FORM {
      	   background-image: linear-gradient(to bottom,rgb(184,49,149), rgb(164,49,149), rgb(164,49,149),rgb(184,49,149));
      	  opacity: 1;
      	  border-radius:60px;
              width: 740px;
              height: 480px;
              margin-left: 440px;
              margin-top: 7%;
              box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.4);


      }
             .fillupform{
             top:145%;
             left:18%;

              font-weight: bold;
              position: absolute;
              border:5px;
             
             }

             .fillupform-bg{
             	margin-top: 100px;
             	margin-left:-30px;
             	
             	

             }
             input[type='radio']:after {
              width: 15px;
              height: 15px;
              border-radius: 15px;
              top: -2px;
              left: -1px;
              position: relative;
              background-color: #d1d3d1;
              content: '';
              display: inline-block;
              visibility: visible;
              border: 2px solid white;
          }

          input[type='radio']:checked:after {
              width: 15px;
              height: 15px;
              border-radius: 15px;
              top: -2px;
              left: -1px;
              position: relative;
              background-color: #ffa500;
              content: '';
              display: inline-block;
              visibility: visible;
              border: 2px solid white;
          }
        
          .click1 {

       
        
      }
      .click1 button{
        display: inline-flex;
        font-family: calibri;
        margin-right: 10px;
        padding: 3px 5px;
        width:90px;
        height:30px;
        text-align:center;
        background-color: white; 
        color: #333;
        font-size: 16px;
        font-weight:bold;


      }
      .dropdown {
  float: right;
  overflow: hidden;
  border:1px solid white;
        height: 28px;
    border-width: 1px 1px;
    font-family:monospace;
    font-weight: bold;
    background-image: linear-gradient(to top right, #b19cd9, white, #add8e6);
    opacity: 1;
    background-size: cover; 
}
      .form-input {
     
        border:1px solid white;
        height: 28px;
    	padding-left:5px;
    border-width: 1px 1px;
    font-family:monospace;
    font-weight: bold;
    background-image: linear-gradient(to top right, #b19cd9, white, #add8e6);
    opacity: 1;
    background-size: cover; 
  

      }


      .form-control {

border:1px solid white;
        height: 34px;
    	
    border-width: 1px 1px;
    font-family:monospace;
    font-weight: bold;
    background-image: linear-gradient(to top right, #b19cd9, white, #add8e6);
    opacity: 1;
    background-size: cover; 
    width:118px;
    margin-top:7px;
    border-radius: 2px;
    
    

      }

      .profile-box {
        width: 150px;
        height: 150px;
        display: block;
      /*  margin: 0 auto; */
       
        border-radius: 100px;
        position: absolute;
        margin-left:270px;
        border: 3px solid black;
        margin-top: 20px;
        background-image: linear-gradient(to top right, #b19cd9, white, #ADD8e6);

        
      }



      .profile-pic {
        max-width: 250px;
        max-height: 200px;
        display: block;

      /*  text-align: center;
        margin: 0 auto; */
      }

      .file-upload {
        display: none;
      }

      .upload-button {
        font-size: 1.2em;
        background-color: #FEB813;
        border-radius:30px;
        color: #fff;
        width: 200px;
        margin-top: 260px;
        margin-left: 370px;
        color: black;
      }

      h4{
      	padding:0%;
      	margin:0%;
      	font-size:16px;
      	color:white;
      	font-family:calibri;
      }

      #cancel_btn:hover{
      	background-color:rgb(230,80,80);
      	color:white;
      }
       #btn_update:hover{
      	background-color:rgb(80,230,80);
      	color:white;
      }