.FormDiv{
	width:100%;
	height:99%;
	top:0%;
}
.LeftImg{
	background-image:url(img/watercolor.jpg); 
    background-size: cover; 
     filter: blur(10px);
    background-repeat:no-repeat;
    height:99%;
    width:45%;
    position:absolute;
    left:0%;
    top:0%;
    background-position:center; 
}
.LeftFormDiv{
    height: 99%;
    width: 45%;
    position:absolute;
    left:0%;
    top:0%;
    border-style:  solid;
    border-width: 2px;
    border-color: white;
    
    /*background-image: url("img/bac.jpg");*/
}
.RightImg{
 filter: blur(6px);
    background-color:rgb(250,227,254);
    height: 99%;
    width: 55%;
    position:absolute;
    right:0%;
    top:0%;
}
.RightFormDiv{
	height: 99%;
    width: 55%;
    position:absolute;
    right:0%;
    top:0%;
    border-style:  solid;
    border-width: 2px;
    border-color: white;
    
}
h1{
	font-size:48px;
}

.LeftFormDiv h1{
	color:white;
	font-family:Papyrus;
}
.LeftFormDiv p{
	color:white;
	font-family:courier;
}
.imagePic{
	height:150%;
	width:150%;
	margin-left:-25%;
	padding:right:0%;


}
.imgDiv{
	width:25%;
	height:20% !important;
	border-radius:220px;
	background-image:url(img/watercolor.jpg); 
    background-size: cover; 

    background-repeat:no-repeat;
}
.InputDiv{
	height: 60px;
    width: 420px;
    background-color:rgb(64,46,68);
}
.InputBox{
    font-family: monospace;
    font-size: 16px;
    height: 30px;
    width: 390px;
    padding: 5px;
    margin-top:7px;
    border-radius: 12px;
    border-width: 2px;
    border-color:white;
    background-image:url(img/subtle.jpg); 
    background-size: cover; 
    background-color:rgb(199,144,185);

}
.InputDiv1{
	height: 60px;
    width: 220px;
    background-color:rgb(64,46,68);
}
.InputBox1{
    font-family: monospace;
    font-size: 16px;
    height: 30px;
    width: 390px;
    padding: 5px;
    margin-top:7px;
    border-radius: 12px;
    border-width: 2px;
    border-color:white;
    background-image:url(img/subtle.jpg); 
    background-size: cover; 
    background-color:rgb(199,144,185);

}
.submitt{
    height:30px;
    font-weight:10px;
    font-family: monospace;
    font-size: 15px;
    width: 100px;
    background-color: black;
    color:white;
}
