.FormFiv{
	width:100%;
	height:99%;
	top:0%;
}
.LeftFormDiv{
    height: 99%;
    width: 40%;
    position:absolute;
    left:0%;
    top:0%;
    border-style:  solid;
    border-width: 2px;
    border-color: black;
    background-image:url("img/pastel.jpg");
    /*background-image: url("img/bac.jpg");*/
}
.RightFormDiv{
	height: 99%;
    width: 60%;
    position:absolute;
    right:0%;
    top:0%;
    border-style:  solid;
    border-width: 2px;
    border-color: black;
    background-color:rgb(250,227,254);
}
.imagePic{
	height:35%;
	width:35%;

}
.InputDiv{
	height: 60px;
    width: 420px;
    background-color:rgb(64,46,68);
}
.InputBox{
    font-family: monospace;
    font-size: 16px;
    height: 30px;
    width: 390px;
    padding: 5px;
    margin-top:7px;
    border-radius: 12px;
    border-width: 2px;
    border-color:blue;
    background-color:rgb(199,144,185);

}
.submitt{
    height:30px;
    font-weight:10px;
    font-family: monospace;
    font-size: 15px;
    width: 100px;
    background-color: black;
    color:white;
}
