  .pp{
      font-size: 25px;
      font-family: monospace;
      text-align: left;
    }
th{
    
    background-color: #ddd;  
}
.a{
    border-top: 1px solid;
    border-right:1px solid;
    border-collapse: collapse;
    border-left:1px solid;  
    width: 80%;
}
.collapsible {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-family: monospace;
}

.active, .collapsible:hover {
    background-color: #777;
    text-align: center;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
        .wrapper {width: 100%; height: auto; overflow: hidden;}
        .owl-nav {
            text-align: center;
        }
        .active {
    background-color: #4CAF50;
}
img{
  height: 369px !important;
  width: 315px !important;
}
td{
  font-family: monospace;
  font-size: 20px;
}
p{
  font-size: 14px;
}
ul {
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table;
    overflow: hidden;
    background-color: #333;
    nth-child(even);
    width: 100%;
}
#ulli{
    width: 100%;
}
li {
    font-family: monospace;
    font-size: 20px;
    padding: 1px;
    display: table-cell;
    margin: auto;
    float: left;  
}
li a {
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    margin: 0.5px;
}
li a:hover {
    background-color: #111;
    color:white !important;
}
.active {
    background-color: #fff41f;
  color: black !important;
}
     .owl-nav div {
            width: 100px;
            height: 50px;
            display: inline-block;
            background: #ddd;
            border-radius: 10px;
            padding: 10px 0;
            cursor: pointer;
        }
        owl-item {width: 100%;}
        .owl-nav div i {
            font-size: 50px;
            color: black;
        }
        .card:hover{
             background: #fff41f;
             position: center;
        }

        .item {
            width: 100%;
            height: 520px;
            background: #ddd;
            text-align: center;
        }
        .item img {
            width: auto;
            height: 100%;
        }
        .owl-theme .owl-dots .owl-dot span {
            width: 50px;
            height: 40px;
            background: #000;
            border-radius: 0;
        }
        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots .owl-dot.active span:hover {background: #ddd;}
        .owl-theme .owl-dots .owl-dot span:hover {background: #ddd;}

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: auto;
            text-align: center;
        }
        .card h1{
          font-family: monospace;
        }
        h6{
          text-align: center;
          font-family: monospace;
          font-size: 20px;
        }
        

.user{
    font-family: monospace;
    font-size: 20px;
    height: 40px;
    width: 380px;
    padding: 5px;
    border-radius: 200px;
    border-color:yellow;
    
}
.submitt{
    height:30px;
    font-weight:10px;
    font-family: monospace;
    font-size: 15px;
    width: 100px;
    background-color: black;
    color:white;
}
label{
    font-family: monospace;
    font-size: 18px;
}

        .title {
            color: grey;
            font-size: 15px;
        }


     
.orm{
    border-style:  solid;
    border-color: black;
    opacity: 0.1px;
    height: 450px;
    width: 100%;
    
}
.nowhite b:hover{
    color:dimgray!important;
    Font-family:monospace;
    font-size:25px;
}
.nowhite b{
    color:black;
    Font-family:monospace;
    font-size:25px;
}
h3{
    
    color: white;
}
.forg a{
   font-size:15px; 
    font-family:monospace;
    color: black !important;
}
.form{
    height: 700px;
    width: 500px;
    border-style:  solid;
    border-width: 2px;
    border-color: black;
    background-image: url("bac.jpg");
  
}
.formm{
    height: 700px;
    width: 500px;
    border-style:  solid;
    border-width: 2px;
    border-color: black;
    background-image: url("bac.jpg");
  
}
.forg a:hover{
    color:#fff41f !important;
}

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #333;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            font-family: arial;
        }

        a  i{
            text-decoration: none;
            font-size: 20px;
            font-family: monospace;
            color: black;
        }
        .button:hover{
            color: white !important;

        }
        .button:hover, a:hover {
            opacity: 0.9;
            color: white;
        }
        .floatr{
    float: right;
}
.notimg{
  width:1258px !important; 
  height:500px !important;
}
.bottomnav{
  background-color: #333;
  width: 100%;
}
.bottomnav a:hover{
  color: #fff41f;
}
.bottomnav a{
  color: white;
}




.art{
    border: none;
    outline: 0;
    width: 130px;
    height: 30px;
  padding: 1px;
  color: white;
  background-color: dimgray!important;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
    font-family: monospace;
}
.art:hover{
    border: none;
    outline: 0;
    width: 130px;
    height: 30px;
  padding: 1px;
  color: white;
  background-color: black! important;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
    font-family: monospace;
}
.padd{
    padding: 1rem;
    margin: 20px;
    height: 30px;
}
.bol{
    font-weight: bolder; 
    font-size: 22px;
}

select{
     background:dimgray;height: 20px;
    width: 150px;
  color: #ddd;
    font-family: monospace;
    font-size: 15px;
    padding: 2rem;
}
.quantity{
    width: 190px;
    height:30px;
    padding: 5px;
    font-family: monospace;
    font-size: 15px;
}
  
.namae{
    font-family: monospace;
    font-size: 35px;
}

.divv{
    background-color: rgba(220,220,220,0.5);border-radius:5px; opacity: 0.1px; padding:20px;
}
.text{
    font-family: monospace;
    font-size: 20px;
}